APP_NAME="NAJMI Auth Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
LOG_CHANNEL=stderr
DB_CONNECTION=pgsql
DB_HOST=auth-db
DB_PORT=5432
DB_DATABASE=auth_db
DB_USERNAME=auth_app
DB_PASSWORD=
SESSION_DRIVER=array
CACHE_STORE=file
QUEUE_CONNECTION=sync
AUTH_TOKEN_TTL=60
ADMIN_EMAIL=
ADMIN_PASSWORD=
